<html>

<head>
  <meta charset="UTF-8" />
  <title>Startup Podcast Highlights</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
    crossorigin="anonymous" />
  <style type="text/css">
    .center {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .margin-base-vertical {
      font-size: 60px;
      margin: 40px 0;
    }

    p {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    .tag {
      font-size: 30px;
    }

    hr {
      border: 1px inset;
    }

    .secondary {
      margin-top: 20px;
    }

    .related-space {
      margin-top: 25px;
    }
  </style>
  <script src="http://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script type="text/javascript" src="{{ url_for('static', filename = 'podcast.js') }}"></script>
</head>

<body>
  <div class="container">
    <div class="row center">
      <div class="margin-base-vertical">Startup Podcast Highlights</div>
    </div>
    <div class="row ">
      <div class="col-md-12">
        <div class="tag"> Highlights</div>
        <hr>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 center">
        <div>
          <audio controls>
            <source src="https://s3.amazonaws.com/ui-podcast-bucket/PinkPanther30.wav" type="audio/wav">
          </audio>
          <div>Startup Highlight 1</div>
          <div>101,000 Views</div>
        </div>
      </div>
      <div class="col-md-6 center">
        <div>
          <audio controls>
            <source src="https://s3.amazonaws.com/ui-podcast-bucket/PinkPanther30.wav" type="audio/wav">
          </audio>
          <div>Startup Highlight 2</div>
          <div>83,000 Views</div>
          
        </div>
      </div>
    </div>
    <div id = "static" class="row secondary">
      <div class="col-md-6 center">
        <div>
          <audio controls>
            <source src="https://s3.amazonaws.com/ui-podcast-bucket/PinkPanther30.wav" type="audio/wav">
          </audio>
          <div>Startup Highlight 3</div>
          <div>76,002 Views</div>
          
        </div>

      </div>
      <div   class="col-md-6 center">
        <div>
          <audio controls>
            <source src="https://s3.amazonaws.com/ui-podcast-bucket/PinkPanther30.wav" type="audio/wav">
          </audio>
          <div>Startup Highlight 4</div>
          <div>23,120 Views</div>
        </div>
      </div>

    </div>
    <div class="row related-space ">
      <div class="col-md-12">
          <div class="tag"> Related Podcasts</div>
          <hr>
          
          <div class="row ">
              <div class="col-md-3 center">
                <div class=" card " style="width: 24rem;">
                  <img
                    class="card-img-top"
                    src="https://media.npr.org/images/podcasts/primary/icon_381444650-04c1bad8586e69edf04b78ea319846614c4a6a6b.png?s=1400"
                    alt="Card image cap"
                  />
                  <div class="card-body">
                    <h5 class="card-title">This American Life</h5>
                    
                    <a href="/podcast" class="btn btn-primary">Click</a>
                  </div>
                </div>
              </div>
              
              </div>
          

      </div>

    </div>
</body>

</html>